body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial;
  }

  .code-container {
    display: flex;
    gap: 10px;
  }

  .code {
    width: 50px;
    height: 50px;
    font-size: 22px;
    text-align: center;
  }